# Node modules (if using npm)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm package lock files
package-lock.json
yarn.lock

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build or dist folders (if you later add bundling)
dist/
build/
